<!DOCTYPE html>
<html>
  <head>
    <title>Example Node.js app</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>
      <span style='color: #4285F4'>W</span><span style='color: #EA4335'>e</span><span style='color: #FBBC04'>l</span><span style='color: #4285F4'>c</span><span style='color: #34A853'>o</span><span style='color: #EA4335'>m</span><span style='color: #FBBC04'>e</span><span style='color: #4285F4'>!</span>
    </h1>
    <p>It's great to have you here, <b><%= name %>!</b></p>
  </body>
</html>
